{% extends "templates/base.html" %}
{% block content %}

<h3>Welcome to duckiehunt.com,</h3>

Don't know what you're doing here?  That's fine.  I'm not judging.<br/>
<br>
However, I'm willing to bet you fall into one of these categories.<br/>
<ul>
	<li><a href='/mark'>You have a duck and want to mark it's location.</a><br/>
	<li><a href='/view'>You want to see a duck's migratory pattern.</a><br/>
	<li><a href='/faq'>You want to know what the heck this is all about</a><br/>
</ul>
I wish I was good with words.  But that's why I <a href='http://flickr.com/photos/snoopykiss/2844038437'>married</a> an <a href='http://flickr.com/photos/snoopykiss/tags/kathy'>English Major</a>.<br/>
<br/>
Note:  <a href='http://twitter.com/duckiehunt'>Duckiehunt is now on twitter!</a><br/>
<br/>

{% endblock %}
