{% extends "templates/base.html" %}
{% block content %}

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

<form id='form' name='form' action='/mark' method='POST' onSubmit='return validateData();'>
<input type='hidden' name='lat' value=''>
<input type='hidden' name='lon' value=''>
<!-- (!empty($duck_location_id)) ? form_hidden('duck_location_id', $duck_location_id) : ''; -->

<div class="width25 floatLeft leftColumn">
	<div class='gradient'>
			<ol>
				<li><span>Provide a Duck ID <font color='black'>*</font></span></li>
				<li><span>Provide a Date / Time <font color='black'>*</font></span></li>
				<li><span>Enter a location and click Center <font color='black'>*</font></span></li>
				<li><span>Click on the map to refine the marker</span></li>
				<li><span>Provide a Story/Link/Flickr Photo</span></li>
                <font color='black'>*</font> = Required
			</ol>
	</div>
</div>

<div class="width75 floatRight">
	<div class="gradient">
<!--    <?php echo validation_errors('<div class="error">', '</div><br />'); ?> -->

<!-- Dependency -->
<script src="http://yui.yahooapis.com/2.5.2/build/yahoo/yahoo-min.js"></script>

<!-- Used for Custom Events and event listener bindings -->
<script src="http://yui.yahooapis.com/2.5.2/build/event/event-min.js"></script>

<!-- Source file -->
<script src="http://yui.yahooapis.com/2.5.2/build/connection/connection-min.js"></script>
        <!--
<script src="/js/jquery-1.2.6.js" type="text/javascript" language="javascript"></script>
<script src="/js/jquery.MultiFile.min.js" type="text/javascript" language="javascript"></script>
-->
<script>
    function validateData() { return true; }
    </script>


<style type="text/css">
#yswid{
color: #000000;
}
#ymaplog{
color: #888888;
}
</style>

<br/>
<table>
	<tr>
		<td valign='top'>
			<table>
				<tr><td>Duck: <font color='black'>* </font></td></tr>
				<tr><td><input type='text' name='id' value={{id}}></td></tr>
				<tr><td>Name: <font color='black'>* </font></td></tr>
				<tr><td><input type='text' name='name' value={{name}}></td></tr>
				<tr><td>Location: <font color='black'>* </font></td></tr>
				<tr><td><input type='text' name='center' id='center' value={{location}}>
                    <input type='button' onClick='centerOnInput(document.getElementById("center").value);' value='Center'/>
                    <font color='black'>*</font>
				</td></tr>
				<tr><td>Date/Time: (MM/DD/YYYY HH:MM) <font color='black'>*</font></td></tr>
				<tr><td><input type='text' name='date_time' value={{location}}>
				<tr><td>Comment/Story:</td></tr>
                    <tr><td><textarea name='comment' rows=4 cols=28>{{comment}}</textarea></td></tr>
				<tr><td>Link:</td></tr>
				<tr><td>
                    <input type='text' name='link' value={{link}}></td></tr>
                </td></tr>
                <tr><td>Upload Picture(s):</td></tr>
                <tr><td>
                    <input type="file" name="userfile[]" size="20" class="multi" />
                </td></tr>
                <!--<tr><td>Flickr Photo ID:</td></tr>
				<tr><td><?php echo form_input(array('name' => 'flickr_photo_id', 'id' => 'flickr_photo_id', 'size' => 15, 'value' => set_value('flickr_photo_id', $location_info['flickr_photo_id']))) ?></td></tr> -->
				<tr><td><input type='submit' value='Submit'></tr>
			</table>
		<td valign='top'>
			<table>
				<tr><td>
				<div id="map"></div></td></tr>
			</table>
		</td>
	</tr>
</table>

	</div>
</div>

</form>

{% endblock %}
